.container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.full-width {
    width: 100%;
}

.button {
    margin-top: 5px;
    width: 70%;
}

.card {
    top: 7%;
    width: 60%;
    margin-left: 20%;
}

img {
    height: 10em;
}