<div class="container" appAddTheme>
    <div class="card" align="center" [ngClass]="{'dark': theme=='dark-theme'}">
        <img src='../../../../assets/icons/icon_white.svg' />
        <br><br>
        <h1>
            Witaj w centrum zarządzania kolejką na SOR!
        </h1>
    </div>
    <br><br>
    <div class="list" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
            <app-list 
                *ngFor="let item of doctors()" 
                fxFlex="0 1 calc(33.3% - 32px)" 
                [doctor]="item" [patients]="getList(item)">
            </app-list>
    </div>
</div>

<button class="button" mat-raised-button color="primary" routerLink="/add-patient">
    <mat-icon>add</mat-icon>
    <span style="margin-left: 1em"><b>Dodaj Pacjenta</b></span>
</button>