.container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.card {
    background-color: rgba(0, 183, 255, 0.7);
    color: white;
    padding: 2em;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

img {
    height: 10em;
}

.button {
    position: absolute;
    bottom: 2em;
    right: 2em;
    padding: 1em;
    border-radius: 60px;
    padding-right: 2em;
}